body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

:root {
    --title-color: #212121;
    --text-color: #757575;
    --typical-margin: 30px;
}

h1, h2, h3, p {margin: 0;
padding-left: 0;}

ul {padding: 0;
margin: 0;}

* {box-sizing: border-box;}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
outline: 1px solid red;}

/*---------Header-----------*/

.header {padding-top: 24px;
padding-bottom: 24px;}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 95px;
    display: block;
}

.logo .logo-studio-header {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.nav {display: flex;
align-items: center;}

.nav-list {
    display: flex;}

.header .container {display: flex;}

.header-contact {display: flex;
align-items: center;
margin-left: auto;}



.nav-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color)
}

.nav-list-item:not(:last-child) {margin-right: 50px;}

.nav-list-link:hover,
.nav-list-link:focus {
    color: #2196F3;
}

.header-contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-contact-link:hover {
    color: #2196F3;
}

.header-contact-item {
    display: flex;
    align-items: center;
}


.header-contact-item + .header-contact-item {margin-left: 50px;}

.contact-icon-link {margin-right: 10px;}

.contact-icon {
    color: #757575;
}

.contact-icon-link .contact-icon:hover,
.contact-icon-link .contact-icon:focus {color: #2196F3;}

/*----------Main-----------*/

/*----------Hero-----------*/

.hero  {
padding-top: 200px;
padding-bottom: 200px;
background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
 url(../images/banner.jpg);
background-size: cover;
max-width: 1600px;
background-color: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 670px;
    margin-bottom: var(--typical-margin);
    margin-left: auto;
    margin-right: auto
    }

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.76;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: transparent;
    min-width: 200px;
    height: 50px;
}


/*-------------------content--------------------*/

.content {padding-top: 94px;
padding-bottom: 47px;}

.content-list {display: flex;}

.content-list-item:not(:last-child) {margin-right: var(--typical-margin);}

.content-list-item {
    max-width: 270px;
}

.content-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.content-list-aftertitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
    
}


.content-list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color)
}

.antena::before {content: "";
display: block;
height: 120px;
background-image: url(../images/Antena.svg);
background-repeat: no-repeat;
background-position: center;
border: 1px solid transparent;
padding: 25px 100px 25px 100px;
background-color: #F5F4FA;
margin-bottom: 30px;}

.clock::before {content: "";
    display: block;
    height: 120px;
    background-image: url(../images/clock\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    padding: 25px 100px 25px 100px;
     background-color: #F5F4FA;
    margin-bottom: 30px;}

.diagram::before {
        content: "";
        display: block;
        height: 120px;
        background-image: url(../images/diagram\ 1.svg);
        background-repeat: no-repeat;
        background-position: center;border: 1px solid transparent;
         padding: 25px 100px 25px 100px;
         background-color: #F5F4FA;
         margin-bottom: 30px;
    }

.astronavt::before {content: "";
    display: block;
    height: 120px;
    background-image: url(../images/astronaut\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
    padding: 25px 100px 25px 100px;
    background-color: #F5F4FA;
    margin-bottom: 30px;}


/*---------cards---------*/

.cards {padding-top: 47px;
padding-bottom: 94px;}

.cards-list {display: flex;
justify-content: space-between;
}

.cards-list-item:not(:last-child) {margin-right: var(--typical-margin);}

.cards-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}


/*------------Person-------------*/

.person {
    padding-top: 94px;
    padding-bottom: 94px;
}

.person-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}

.person-list {display: flex;}

.person-list-item:not(:last-child) {
    margin-right: var(--typical-margin);
    
}

.about-person {padding-top: 30px;
padding-bottom: 30px;}

.person-item-aftertitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
}

.person-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 15px;
}

.masters-soc-list {display: flex;
justify-content: center;}

.masters-soc-item {width: 44px; height: 44px;
margin-right: 10px;}


.masters-soc-item:last-child {margin-right: 0;}

.masters-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.masters-soc-link:hover, 
.masters-soc-link:focus {background-color: #2196F3;}


.masters-list-icons {fill: #AFB1B8;}

.masters-soc-link:hover .masters-list-icons,
.masters-soc-link:focus .masters-list-icons {
    fill: #FFFFFF;
}





/*------------client----------------*/

.client {padding-top: 94px;
    padding-bottom: 94px;}


.client-title {font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
margin-bottom: 50px;}

.client-list {display: flex;
justify-content: space-between;}



/*--------------footer-------------*/

.footer {
    background-color: #2F303A;
    padding-bottom: 60px;
    padding-top: 60px;
}


.logo .logo-studio {font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
color: #FFFFFF;}

.footer .logo  { display: block;
margin-bottom: 20px;}


.adress-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-style: normal;
    margin-bottom: 9px;
}

.adress-list-item + .adress-list-item {margin-top: 9px;}

.adress-item-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}